<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="/form.css">
</head>
<body>
    
    <form method="POST" action="/new">
        <h1>Send Your Message</h1>
        <div class="container2">
        <input type="text", name="author" required placeholder="Your Name">
        <textarea type="text", name="message" require placeholder="Type Your Message" rows="4" cols="50"></textarea> 
        <button type="submit" name="submit">Submit</button>
    </form>
    </div>
</body>
</html>