body{
    background-color: #0f172a;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container1{
    display: flex;
    flex-direction: column;
     background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    width: 30vw;
    height: auto;
    flex-wrap: wrap;
    color: #e5e7eb;
    padding: 10px;
    border: 2px solid white;
    align-items: center;
    font-size: larger;
}

button{
     background: rgba(255, 255, 255, 0.25);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
}