body{
    background-color: #0f172a;
    color: #e5e7eb;
    display: flex;
     flex-direction: column;
    align-items: center;
}

.container2{
    display: flex;
    flex-direction: column;
    gap: 10px;
     background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.15);

  padding: 15px;
  margin-bottom: 15px;
}

input{
    height: 40px;
    border-radius: 16px;
    padding: 5px;
}

textarea{
    border-radius: 16px;
    padding: 5px;
}

button{
     background: rgba(255, 255, 255, 0.25);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
}