body{
    background-color: #0f172a;
    color: #e5e7eb;
    display: flex;
     flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
     background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    width: 25vw;
    height: auto;
    flex-wrap: wrap;
    color: #e5e7eb;
    padding: 10px;
    border: 2px solid white;
    justify-content: space-around;
}

.user{
    font-size: small;
    margin-bottom: 5px;

}

.message{
    font-size: larger;
}

.date{
    font-size: 13px;
    margin-left: 60%;
    color: antiquewhite;
}

.out{
    margin-left: 25%;
    color: white;
}

.material-symbols-outlined{
    height: 60px;
    width: 60px;
}

button{
     background: rgba(255, 255, 255, 0.25);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
}